[push]
	default = simple
[alias]
	clear = clean -f -d
	unstage = reset HEAD --
	undo = checkout --
	find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
	stag = tag -s
[commit]
	gpgsign = true
[user]
	signingkey = AD28C7633EEB9ACEDCA3D5082351A3C9FD44B05F
