[push]
	default = simple
[alias]
	clear = clean -f -d
	unstage = reset HEAD --
	undo = checkout --
	find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
	stag = tag -s
[fetch]
    prune = true
[commit]
	gpgsign = true
[user]
	signingkey = 727A52F39644333887EACAFCDC56298737E1DA91
